*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f1faee;
}
h1{
    background-color:#1d3557 ;
    color:#f1faee;
    height: 5rem;
   line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.choice:hover{
    opacity: 50%;
    /* background-color:black ; */
    cursor: pointer;

}

img{
    height: 150px;
    width: 150px;
    object-fit: fill;
    border-radius: 10%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 2rem;
}

#user-score,
#comp-score{
    font-size: 4rem;
    color: #e63946;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color:black ;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}