*{
    padding:0;
    margin:0;
}
body{
    background-color: #2E4057;
    text-align: center;
    color: #CAFFB9;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.btn{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.3);
    font-size: 8vmin;
    color: #2E4057;
    background-color:#CAFFB9;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#C0D461;
    color: white;
    border-radius: 1rem;
    border:none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#C0D461;
    color: white;
    border-radius: 1rem;
    border:none;
}   
#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 4 rem;
}
.hide{
    display: none;
}
